<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    
    <div class="card bg-dark-card border-secondary border-opacity-10 shadow-lg rounded-3">
      <div class="card-body p-5">
        
        <h2 class="card-title text-center mb-4 fw-bold text-success-neon">Crear Cuenta de Jugador</h2>

        {{#if error}}
          <div class="alert alert-warning bg-warning bg-opacity-10 border-warning text-warning border-0 shadow-sm mb-4" role="alert">
            ⚠️ {{error}}
          </div>
        {{/if}}

        <form action="/web/register" method="POST">
          
          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label text-light-suave small fw-medium">Nombre</label>
              <input type="text" name="nombre" class="form-control login-input" value="{{valores.nombre}}" required placeholder="Ej: Juan">
            </div>
            <div class="col-md-6 mt-3 mt-md-0">
              <label class="form-label text-light-suave small fw-medium">Apellido</label>
              <input type="text" name="apellido" class="form-control login-input" value="{{valores.apellido}}" required placeholder="Ej: Perez">
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label text-light-suave small fw-medium">Correo Electrónico</label>
            <input type="email" name="email" class="form-control login-input" value="{{valores.email}}" required placeholder="ejemplo@yojuego.com">
          </div>

          <div class="mb-3">
            <label class="form-label text-light-suave small fw-medium">Contraseña</label>
            <input type="password" name="password" class="form-control login-input" required placeholder="Mínimo 6 caracteres">
          </div>

          <div class="mb-4">
            <label class="form-label text-light-suave small fw-medium">Posición Favorita</label>
            <select name="posicion" class="form-select login-input"> <option value="No definido">Seleccioná tu posición...</option>
              <option value="Arquero">Arquero</option>
              <option value="Defensor">Defensor</option>
              <option value="Mediocampista">Mediocampista</option>
              <option value="Delantero">Delantero</option>
            </select>
          </div>

          <button type="submit" class="btn btn-success-neon w-100 btn-lg mt-2 custom-btn">
            Registrarme e Ingresar
          </button>
          
          <div class="text-center mt-4">
            <a href="/web/login" class="link-orange small text-decoration-none">¿Ya tenés cuenta? Iniciá sesión acá →</a>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>